.about-holder{
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 5%;
    text-align: left;
}

.about-title{
    margin-top: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 2.5em;
    line-height: 15%;
    color: #000000;
}

.about-description{
    font-size: larger;
    font-size: 2em;
    width: 50%;
}

.circle-holder{
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    margin-top: 5%;
}

.circle{
    background-color: #000000;
    color: white;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: 5%;
    text-align: center;
    align-items: center;
    font-size: 1.5em;
}

.pre-hover{
    line-height: 260px;
}

.post-hover{
    overflow: wrap;
    font-size: 0.5em;
    margin-top: 100px;
}

.circle .post-hover{
    display: none;
}

.circle:hover .post-hover{
    display: block;
}

.circle:hover .pre-hover{
    display: none;
}

.circle:hover{
    background-color: #ed4b9e;
}