.home-holder{
    margin-right: 5%;
    margin-left: 43%;
    margin-top: 5%;
    text-align: left;
}

.description{
    font-size: larger;
    font-size: 2.5em;
}

.intro{
    margin-top: 40%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 4em;
    line-height: 15%;
    color: #000000;
}

.name{
    color: #ed4b9e;
}