.home-holder{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-top: 5%;
    text-align: right;
}

.description{
    font-size: larger;
    margin-left: 50%;
}

.intro{
    font-size: 1.5em;
}

.name{
    color: #ed4b9e;
}