.navbar{
    display: flex;
    width: 100%;
    font-family: 'Inter';
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 9vh;
    min-height: 70px;
    z-index: 2;
    background-color: white;
}

.my-name {
    display: flex;
    justify-content: left;
    height: 70%;
    width: 6%;
    font-size: 1.5em;
}


.options{
    text-align: right;
    padding-right: 2%;
    display: flex;
    justify-content: right;
    width: 80%;
    overflow-x: hidden;
}

.navbar ul{
    list-style: none;
    display: flex;
    text-align: right;
}

.navbar :hover{
    color: black;
    border-radius: 10px;
}

.option-individual:hover{
    color: #ed4b9e;
    text-decoration: none;


}

.option-individual{
    padding-right: 20px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

  a{
    text-decoration: none;
    color: white;

  }

  a:hover{
    color: #ed4b9e;
    text-decoration: none;
  }


.button {
    background: none!important;
    border: none;
    font-size: 1.1em;
    color: white;
    width:100%;
    font-family: "Circular-Med";
}

